header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}

.brand {
  margin: 10px;
  display: flex;
  align-items: center;
}

header a {
  font-style: none;
  text-decoration: none;
  color: white;
  /* border */
}

header > a svg {
  margin-right: 5px;
  color: red;
}

form {
  flex-basis: 100%;
  text-align: center;
}

form input {
  width: 90%;
  max-width: 700px;
}
